h1{
    color:red;
}
.area-blue{
background-color: blue;
}
.area-green{
    background-color: green;;
}
.area-purple{
    background-color: purple;
}
.area-yellow{
    background-color: yellow;
}
.area-red{
    background-color: red;
}
main{
    margin:2em;
}
a:hover{
    background-color: white;
    color:black;
    font-weight: bold;
}
.material-symbols-outlined {
    color:aqua;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}