html{
    background-color: #0c3143;
    background-image: url(images/bkg-texture.png);
    background-position: left top;
    font-size: 14px;
}
body{
    width: 1068px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000209;
    background-image: url(images/content-bkg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    border: 6px solid #e1ebf4;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    font-family: 'Exo-2', Arial, Helvetica, sans-serif;
    color: #e1ebf4;
}
a{
    text-decoration: none;
}
a:link{
color: #fbdb65;
}
a:visited{
color: #bab3b2;
}
a:hover{
color:#fd8e2f;
}
a:active{
color:#fce17e;
}
header{
    padding: 0;
    padding-left: 80px;
    padding-right: 80px;
}
h1, h2{
    margin:0;
}

header h1 {
    padding-top: 60px;
    /*font weight*/
    font-size: 3em;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
}

header h2{
    font-weight: 400;
    font-size: 1.34em;
    line-height: 1.1em;
    letter-spacing: 0.05em;
    color: #859aaf;
}

section h1, .was-h1{
    font-weight: 700;
    font-size: 4.8em;
    text-shadow: 1px 1px 0px #83898f, -1px, -1px 0px #fff;
}
section h2{
    font-weight: 600;
    font-size: 2em;
    color: #7b99b8;
    margin-top: 1.5em 0 .2em;
}

section{
    padding: 140px 80px 40px;

}
section p{
    margin: 0 0 .1em;
    line-height: 1.52em;
    max-width: 38em;
}
section p:first-of-type{
    font-size: 1.5em;
    max-width: 35em;
}

section em{
    font-style: normal;
    background-color: rgba(243,228,109,0.7);
    color: #121200;
    padding: .1em;
}
footer{
    background-color: #D4e0ec;
    font-size: .8em;
    color: #051924;
    margin:0;
    margin-top: 80px;
    padding: 60px 80px 20px;
    border-top: 6px solid #8ba0b5;
    box-shadow: inset 0px 3px 6px rgba(0,0,0,0.5);
}
footer a{
    text-decoration: dotted;
}
footer a:link{
    color:#069;
}
footer a:visited{
    color:#036;
}
footer a:hover{
    color:#09c;
}
footer a:active{
    color:#0CF;
}
footer p{
 margin: 0 0 .5em;
}

/*image classes*/
