@import url("https://use.typekit.net/wax4mji.css");
body {
    font-size: 24px;
    font-family: "refrigerator-deluxe", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    margin:0;
    position:relative;
}

header{
    display:flex;
    background-color: #000;
    color:#fff;
    padding-left:1em;
    padding-right:1em;
    position: relative;
}

nav{
    margin-left: auto;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: flex-end;
}
/*Header link behavior*/
nav>a, nav>a:link{
    border:rgb(220, 220, 220) solid 2px;
    color: rgb(220, 220, 220);
    font-size: 50px;
    padding: 0.375rem 0.75rem;
    margin-left:.33em;
    text-decoration: none;
}
.my-button, .my-button:link{
  border:rgb(220, 220, 220) solid 3px;
  background-color: #000;
  color: rgb(220, 220, 220);
  font-size:1.25em;
  padding: 0.375rem 0.75rem;
  margin-left:.33em;
  text-decoration: none;
}
button {
    font-family: "refrigerator-deluxe", sans-serif;
    display: inline-block;
    background-color: #000000;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    line-height: 1.5em;
    min-height: 80px;
    display: block;
    width: 50%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

nav>a:hover, .my-button:hover{
    background-color:#ffffff;
    color:  #000;
    text-decoration: underline;
    border-top-color: rgb(200, 200, 200);
    border-left-color: rgb(200, 200, 200);
    border-right-color:#484848;
    border-bottom-color:#484848;
    box-shadow: 0px 0px 6px rgb(200, 200, 200);

}

nav>a:active, .my-button:active {
    font-weight: normal;
    color:#000;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px #8b8b8b;
 }
/*TODO- add states for the non-nav a tags*/
main{
    margin: .5em 6em .5em 6em;
}
p{
    margin-left: 1em;
    padding: 0.5em;
}
ul{
    list-style: none;
    display:flex;
    margin-left: auto;
    justify-content: space-between;
}
li{
  list-style: none;
}
img{
    width:100%;
}
footer{
    background-color: rgb(128, 128, 128);
    display:flex;
    align-items: flex-end;
}

footer ul li {
    padding: .25em;
    margin: .25em;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    content: "";
    display: block;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.branding{
    padding: 1em;
}

.branding span{
    display:block;
    font-family: "refrigerator-deluxe", sans-serif;
    font-weight : bold;
    font-size : 97px;
    line-height : 73.23px;
}
.branding-imgReplace{
    display:block;
    box-sizing: border-box;
    min-height: 165px;
    min-width:250px;

    overflow: hidden;
    text-indent:-999px;
    background-image: url("../images/branding/header-branding.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

header .branding-imgReplace a{
    background-image: url("../images/branding/header-branding.svg");
}

section .branding-imgReplace{
    background-image: url("../images/branding/branding-blackOnWhite.svg");
    width: 33%;
}
section .branding span {
    font-size : 169px;
    line-height : 127.05px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*grid styles*/

#container2col{
    display: grid;
    grid-template-rows: auto auto 5em;
    grid-template-columns: auto, auto 2em; 
    grid-template-areas: "banner banner"
    "main main"
    "footer footer";
  }
  #container3col{
    display: grid;
    grid-template-rows: auto auto 5em;
    grid-template-columns: repeat(3,minmax(300px,600px) ); 
    grid-template-areas: "banner banner banner"
    "section1 section2 section3"
    "footer footer footer";
  }

/*main tag inner grid*/
  #container2colInner{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto, auto 2em; 
    grid-template-areas: "section1 section2";
  }

  header {
    grid-area: banner;
  }
  main {
    grid-area: main;
  }
  aside {
    grid-area: aside;
  }
  #section1 {
    grid-area: section1;
  }
  #section2 {
    grid-area: section2;
  }

  #section3 {
    grid-area: section3;
  }
  footer{
    grid-area: footer;
  }
 .timeline img{
    padding-right: 2em;
    margin-top:4em;
  }
.about-flex-container div{
  width:40%;
  
}

  .about-flex-container div:first-child{
    width: 100%;
    text-align: center;
  }
.resume h2{
    width: 100%;
    text-align: center;
}