

 /*Front page*/

.front-page-name{
    background-image:"";
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
 
}
.frontpage-branding{
    margin-bottom:3.5em;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-self: center;
    align-self: center;
}

.frontpage-text{
    font-size: 1.3em;
    width: 40%;
}

.frontpage-branding img{
    width: 100%;
    max-width: 25em;
}
.short-bio span{
    display:block;
    font-size : 60px;
    line-height : 40.23px;
    margin-left:.5em;
    margin-bottom: .33em;
    padding:0;
}

.penguin{
    margin-top:6em;
    justify-self: center;
    align-self: center;
    width: 40%;
}
/* .penguin::before {
    background-image: url(../images/penguin-chart.svg);
    background-image: url(../images/penguin-chart.jpg);
    background-size: cover;
    /* height: 400px;
    width: 400px; 
    background-repeat: no-repeat;
    content: "";
    display: block;
} */


